$sm: 768px;
$lg: 1024px;
$xl: 1224px;

@mixin min-xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin min-lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin container {
  width: 100%;
  margin: 0 auto;

  @include min-sm {
    width: 100%;
    background-color: red !important;
  }

  @include min-lg {
    width: 960px;
    padding: 0;
    background-color: blue !important;
  }

  @include min-xl {
    width: 1224px;
    background-color: brown !important;
  }
}