$darker: #12161c;
$warning: #f0b90b;
$primary: #0e30a7;
$success: #02c076;
$gray: #959595;
$black: #212121;
$red: #E30019;
$yellow: #ffc400;
$green: #1ee0ac;
$cyan: #09c2de;
$blue: #559bfb;
$azure: #1676fb;
$indigo: #2c3782;
$purple: #816bff;
$pink: #ff63a5;
$orange: #fc8721;
$teal: #20c997;
$white: #fff;
$light-blue: #7fc2fa91;
$gray-light: #d7d7d747;

$light-primary: #fff;
$header-bg-dark-color: $darker;
$header-bg-sub-bg: #12161c;
$header-bg-sub-hover-bg: rgba(255, 255, 255, 0.04);
$header-bg-sub-color: #fff;

$bg-hover: #ececec;

$header-border: rgba(12, 104, 244, 0.30);
$color-body-bg: #f3f3f3;
$navigation-btn-color:#ccc;
$light-bg: #ececec;
$light-bg-secondary: #e4e2e243;
$border-section: #ececec;
$border-prd: #f3f3f3;
$box-shadow-prd: inset 1px 0px 0px #EDEDED, inset -1px 0px 0px #EDEDED, inset 0px 1px 0px #EDEDED, inset 0px -1px 0px #EDEDED;

$sidebar-bg: #F9F9F9;
$bg-card: #F9F9F9;
$text-color-gray-light: #F9F9F9;
$border-gray-light: #F9F9F9;
$bg-light-gray: #F9F9F9;